.card {
    display: flex;
    flex-direction: column;

    text-align: center;
    font-family: 'Poppins', sans-serif; 

    margin-top: 30px;
}

.card-image>img {
    width: 100vw;
    height: auto;
    object-fit: cover;
}

.card-image>img:hover {
    cursor: pointer;
}

.card-title {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.card-title:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.card-title:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media only screen and (min-width: 800px) {
    .card-image>img {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }
}

 