.nav {
    font-family: 'Poppins', sans-serif;
}


/* CSS for bottom navigation bar */
.nav-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
    padding-bottom: 10px;
    background-color: white;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;

    color: rgb(7, 7, 97);
    font-weight: 800;
    letter-spacing: 0.3em;
    text-shadow: 20px;
}

.nav-category>i>input {
    border-top: none;
    border-left: none;
    border-right: none;
    
    padding: 10px;
    width: 40vw;
}

.nav-category>i>input:focus {
    outline: none;
}

.nav-category>i {
    cursor: pointer;
}

.nav-basket-user {
    width: 20vw;
    display: flex;
    justify-content: space-between;
}

.fa-bars {
    margin-right: 20px;
}


@media only screen and (min-width: 800px) {
    .nav-basket-user {
        width: 12vw;
    }
}


.menu {
    position: fixed;
    z-index: 99999;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    flex-direction: column;

    text-transform: uppercase;

    background-color: white;
}

.menu>hr {
    width: 100%;
    margin-top: 5px;
    opacity: 0.15;
}

.menu>li, 
.menu>h3,
.menu>i {
    margin-left: 20px;
}

.menu>i {
    margin-top: 20px;
}

.menu>li {
    font-size: 0.9em;
    letter-spacing: 0.1em;
}



