.App {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

li {
  list-style: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

li:hover {
  opacity: 0.6;
}

i {
  cursor: pointer;
}


